.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.contact__title {
  font-family: "Vortex";
  font-size: var(--size-3xl);
}
.contact__description {
  font-size: var(--size-base-);
  color: var(--clr-light);

  text-align: center;
  font-family: "Inter";
}
.contact__email {
  font-size: var(--size-xs);
}

.instagram__icon svg{
    height: 24px;
    width: 24px;
    color: red;
}
/* xs */
/* @media (min-width: 475px){

} */

/* sm */
/* @media (min-width: 640px){

} */

/* md */
/* @media (min-width: 768px){

} */

/* Lg */
/* @media (min-width: 1024px){


} */

/* xL */
/* @media (min-width: 1280px){

} */

/* 2xL */
/* @media (min-width: 1536px){

} */
