.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

  .header__menu{
   display: none
}

.header__bars{
    color: var(--clr-pink);
    height: var(--size-base);
    width: var(--size-base);
    display: block;
}
/* xs */
/* @media (min-width: 475px){
        
} */

/* sm */
/* @media (min-width: 640px){
        
} */

/* md */
@media (min-width: 768px){
    .header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0px;
}

.header__link{
    text-decoration: none;
    font-size: var(--size-xs);
    font-weight: 600;
    letter-spacing: -.05rem;
    transition: color 0.3s;
}

.header__link:hover{
    color: var(--clr-pink);
}

.header__line{
    border: 1px solid var(--clr-pink);
    padding-top: 1.5em;
}

.header__sun {
    display: block;
    color: var(--clr-light);
    width: var(--size-base);
    height: var(--size-base);
    
}

.header__cart{
    display: block;
    color: var(--clr-light);
    width: var(--size-base);
    height: var(--size-base);
}

.header__checkout{
    font-size: var(--size-xs);
}
.header__bars{
    display: none;
}
}

/* Lg */
/* @media (min-width: 1024px){
    

} */

/* xL */
/* @media (min-width: 1280px){

} */

/* 2xL */
/* @media (min-width: 1536px){

} */