.shop {
  text-align: center;
}

.shop__title {
  font-size: var(--size-4xl);
  color: var(--clr-pink);
  font-family: "Vortex";
  margin-bottom: 1rem;
}

.shop__item-title {
  font-family: "Panchang";
  font-size: var(--size-base);
  margin-bottom: 2rem;
  margin-top: 4rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.27rem;
}

.shop__button {
  font-size: var(--size-sm);
  margin: 1rem 0;
}
.shop__description {
  color: var(--clr-light);
  font-size: var(--size-base);
  font-family: "Inter";
}

.product__image {
  width: clamp(300px, 312, 475px);
  aspect-ratio: 1/1;
  margin: 2rem 0;
  margin-inline: auto;
  padding: 1rem;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  outline: 1px solid rgba(255, 255, 255, 0.08);
  outline-offset: -1px;
  border-radius: 14px;
}

.focus__top img {
  object-position: center top;
}

.shop__grid-title {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  .shop__title {
    text-align: center;
    font-size: var(--size-5xl);
    color: var(--clr-pink);
    font-family: "Vortex";
  }

  .shop__item-title {
    font-size: var(--size-xl);
    margin-bottom: 1rem;
  }

  .shop__description {
    color: var(--clr-light);
    font-size: var(--size-xl);
  }

  .shop__button {
    font-size: var(--size-base);
    margin: 1rem 0;
  }
}

/* sm */
@media (min-width: 640px) {
  .shop__container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "image1 content1"
      "content2 image2"
      "image3 content3";

    place-items: center;
    padding-right: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .shop__image1 {
    grid-area: image1;
  }
  .shop__image2 {
    grid-area: image2;
  }
  .shop__image3 {
    grid-area: image3;
  }
  .shop__content1 {
    grid-area: content1;
  }
  .shop__content2 {
    grid-area: content2;
  }
  .shop__content3 {
    grid-area: content3;
  }

  .shop__item-title {
    display: none;
  }
  .shop__grid-title {
    display: block;
    font-family: "Panchang";

    margin-bottom: 1rem;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.27rem;
  }
  .shop__description {
    font-size: var(--size-base);
  }
}

/* md */
@media (min-width: 768px) {
  .shop__item-title {
    font-size: var(--size-2xl);
  }
  .shop__description {
    font-size: var(--size-lg);
  }
  .shop__button {
    font-size: var(--size-lg);
  }
}

/* Lg */
@media (min-width: 1024px) {
  .shop__title {
    text-align: center;
    font-size: var(--size-6xl);
    color: var(--clr-pink);
    font-family: "Vortex";
  }
  .shop__item-title {
    font-size: var(--size-2xl);
  }
  .shop__description {
    font-size: var(--size-lg);
  }
  .shop__button {
    font-size: var(--size-lg);
  }
}

/* xL */
@media (min-width: 1280px) {
  .shop__title {
    text-align: center;
    font-size: var(--size-6xl);
    color: var(--clr-pink);
    font-family: "Vortex";
  }
  .shop__item-title {
    font-size: var(--size-3xl);
    margin-bottom: 1rem;
  }
  .shop__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .shop__container {
    width: 70%;
    margin: 0 auto;
  }
}
