:root{
    --clr-dark:      #09090B;
    --clr-lightPink: #FFA1AD;
    --clr-pink:      #F6339A;
    --clr-light:     #F8FAFC;
    --clr-neon:      #9AE600;
}


*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
html {
    scroll-behavior: smooth;
}

body{

    /* FontSpace - FT Vortex, Maskneyes Font, Evil Sound, Undeath*/
    font-family: 'Panchang', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-pink);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
display: inline-block;
padding: 0;
border: none;
background: none;
cursor: pointer;
}

a{
    cursor: pointer;
    color: var(--clr-neon);
}
strong{
    color: var(--clr-neon)
}