:root{
    --clr-dark:      #09090B;
    --clr-lightPink: #FFA1AD;
    --clr-pink:      #F6339A;
    --clr-light:     #F8FAFC;
    --clr-neon:      #9AE600;

    /* sizes */
    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: .875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
html {
    scroll-behavior: smooth;
}

body{

    /* FontSpace - FT Vortex, Maskneyes Font, Evil Sound, Undeath*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-pink);
}
@font-face{
    font-family: 'Vortex';
    src: url('../fonts/FtVortex-G3ZDy.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
display: inline-block;
padding: 0;
border: none;
background: none;
cursor: pointer;
}

a{
    cursor: pointer;
    color: var(--clr-neon);
}
strong{
    color: var(--clr-neon);
}
