:root{
    --clr-dark: oklch(14.1% 0.005 285.823);
    --clr-lightPink: oklch(81% 0.117 11.638);    
    --clr-pink: oklch(65.6% 0.241 354.308);    
    --clr-light: oklch(98.4% 0.003 247.858);    
    --clr-neon: oklch(84.1% 0.238 128.85);    

}







*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Panchang', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-pink);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
display: inline-block;
padding: 0;
border: none;
background: none;
cursor: pointer;
}

a{
    cursor: pointer;
}